* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button {
    background-color: yellowgreen;
    color: #fff;
    padding: 1rem;
    margin-left: 10rem;
    border: none;
    border-radius: 0.5rem;
}

